.
<!-- ****************** Date : 05/01/2022
						Créateur : Yassir KARMATI
						Descriptif : Création de mon CV en langage HTML & CSS
						03/11/2022 : Reprise du CV en y incorporant du Bootstrap
	*************************-->
<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/65cd7329ab.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" type="text/css" href="assets/index.css" />

	<title>Yassir Karmati's portfolio</title>
</head>

<body>
	<div class="container-fluid">
		<div class="jumbotron">
			<div class="container">
				<h1 class="display-3">Juste un Portfolio. Yassir Karmati</h1>
				<p>Développeur web full-stack junior</p>
			</div>
			<div class="container">
				<img src="https://cdn.pixabay.com/photo/2016/11/18/18/37/programming-1836330_960_720.png"
					class="img-responsive w-100">
			</div>
		</div>



	</div>
	<!-- **********************  NAVBAR ******************-->
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-*">
			<div class="container">
			  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			  </button>
			  <div class="collapse navbar-collapse justify-content-center" id="navbarNavDropdown">
				<ul class="navbar-nav">
				  
				  <li class="nav-item">
					<a class="nav-link" href="#presentation">A propos de moi</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#experience">Expériences</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#formation">Formations</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#competences">Compétences</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link disabled" href="#">Mes réalisations</a>
				  </li>
				  <li class="nav-item">
					<a class="nav-link" href="#contact">Me contacter</a>
				  </li>

				</ul>
			  </div>
			</div>
		  </nav>
	</header>
	<hr>
	<div class="container-fluid">
		<section id="presentation">
			<div class="card text-center">
				<div class="card-body">
					<h4 class="card-title"> Mon profil</h4><br>

					<p class="card-text">
						Tantôt chef d'équipe, tantôt discret, mon objectif & de progresser chaque jour et d'être une
						meilleure version de moi-même qu'hier.</p>
					<p>Faire avancer mon groupe, un projet, être efficace.
						Mon expérience de management dans la restauration m'a permis d'être à
						l'écoute de mon équipe, de ma clientèle, des besoins de l'entreprise et
						d'y répondre logiquement.</p>
					<p>J'aime le travail d'équipe, je suis disponible pour mes collègues et
						prêt à faire face à toutes situations. Souriant, j'aime m'amuser en
						travaillant et rendre <br />la tâche plus agréable avec une pointe
						d'humour mais tout en gardant le sérieux que chaque situation
						requiert.</p>
					<p>Je suis passioné d'informatique depuis petit et souhaite en vivre aujourd'hui.</p>
					<p>Ne fait-on pas mieux les choses lorsque l'on aime les faire ?</p>


				</div>
		</section>
		<br>
		
	</div>
	<!-- *************  Partie MES EXPERIENCES ***************-->
	<hr>
	<section id="experience">
		<div class="container">

			<h4 class="mb-5 text-center"> Expériences majeures</h4>
			<div class="row d-flex justify-content-center">

				<div class="col-12 col-md-6 ">
					<div class="card w-70">
						<div class="card-body text-center">
							<img src="https://www.cadistribution.com/wp-content/uploads/2017/02/logo-cad-presentation.png"
								alt="Continental Automatisme Distribution" class="card-img-top w-75">
							<h5 class="card-title">Continental Automatisme Distribution, La Penne sur Huveaune</h5>
							<h6 class="card-subtitle mb-2 text-muted">2017 - Stage 2 mois</h6>
							<p class="card-text text-center"> Wordpress, mise en ligne du catalogue physique de
								produits.</p>
						</div>
					</div>
				</div>
				<div class="col-12 col-md-6">
					<div class="card w-70">
						<div class="card-body text-center">
							<img src="https://upload.wikimedia.org/wikipedia/fr/thumb/1/1d/LogoLigueEnseignement.svg/1200px-LogoLigueEnseignement.svg.png"
								alt="La Ligue de l'Enseignement 13" class="card-img-top w-50">
							<h5 class="card-title">La Ligue de l'Enseignement, Marseille</h5>
							<h6 class="card-subtitle mb-2 text-muted">2018 - Service civique 6 mois</h6>
							<p class="card-text text-center"> Initiation à Scratch dans des collèges difficiles pendant
								les clubs informatiques.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row d-flex justify-content-center">
				<div class="col-12 col-md-6">
					<div class="card w-70">
						<div class="card-body text-center">
							<img src="https://upload.wikimedia.org/wikipedia/fr/thumb/c/cb/Pizza_Hut_Logo.svg/1200px-Pizza_Hut_Logo.svg.png"
								alt="Pizza Hut" class="card-img-top w-25">
							<h5 class="card-title"> Pizza Hut Castellane, Marseille</h5>
							<h6 class="card-subtitle mb-2 text-muted">2018 - 2021, alternance puis CDI 35h</h6>
							<p class="card-text text-center">Livreur, puis employé polyvalent.<br> Assistant Manager
								pendant 2 ans en alternance.<br> Responsable de service, gestion du restaurant,
								management, relation client & partenaire.</p>
						</div>
					</div>
				</div>
				<br>
				<div class="col-12 col-md-6">
					<div class="card w-70">
						<div class="card-body text-center">
							<img src="https://www.fede-entrepreneurs.fr/media/com_jbusinessdirectory/pictures/companies/1497/cropped-1569589951.png"
								alt="Izitek" class="card-img-top w-50 mx-auto">
							<h5 class="card-title">Izitek, Eguilles</h5>
							<h6 class="card-subtitle mb-2 text-muted">2022 - Stage 2 mois</h6>
							<p class="card-text text-center">Cartographie complète du CRM.<br>Migration de vieilles
								applis natives vers Vue.js & Vuetify. Deux applis créées.</p>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<br>
	<hr>
	<br>
	<!-- ****************  Partie MES FORMATIONS **********************-->
	<section id="formations">

		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="card">
						<div class="card-body">
							<h4 class="card-title mb-5 text-center"> Timeline</h4>
							<div class="hori-timeline" dir="ltr">
								<ul class="list-inline events">
									<li class="list-inline-item event-list">
										<div class="px-4">
											<div class="event-date bg-soft-primary text-primary">2017</div>
											<h5 class="font-size-16">BTS SIO</h5>
											<h6 class="font-size-10">Lycée Victor Hugo, Marseille 13003</h6>
											<p class="text-muted">BTS Service Informatique aux Organisation, option
												SLAM. Apprentissage de Java, SQL, réseau, montage de PC.</p>
											<div>
												<a href="#" class="btn btn-warning btn-sm disabled">Non-diplômé</a>
											</div>
										</div>
									</li>
									<li class="list-inline-item event-list">
										<div class="px-4">
											<div class="event-date bg-soft-primary text-primary">2018-2021</div>
											<h5 class="font-size-16">BTS MUC</h5>
											<h6 class="font-size-10">École Alternance EXXECC, Marseille 13008</h6>
											<p class="text-muted">BTS Management des Unités Commerciales, en alternance
												chez <br>Pizza Hut Castellane.</p>
											<div>
												<a href="#" class="btn btn-success btn-sm disabled"> Diplômé</a>
											</div>
										</div>
									</li>
									<li class="list-inline-item event-list">
										<div class="px-4">
											<div class="event-date bg-soft-primary text-primary disabled">2021-2022</div>
											<h5 class="font-size-16">Titre pro : Développeur web et web mobile</h5>
											<h6 class="font-size-10">AFPA St-Jérôme, La Ciotat</h6>
											<p class="text-muted">Apprentissage des bases du code : HTML, CSS,
												Bootstrap, Javascript, PHP, SQL.</p>
											<div>
												<a href="#" class="btn btn-success btn-sm disabled"> Diplômé</a>
											</div>
										</div>
									</li>
									<li class="list-inline-item event-list">
										<div class="px-4">
											<div class="event-date bg-soft-primary text-primary disabled"> 2022-2023</div>
											<h5 class="font-size-16">Titre pro : Concepteur Développeur d'Applications
											</h5>
											<h6 class="font-size-10">École Ri7, Aubagne</h6>
											<p class="text-muted">Apprentissage de framework : React, Vue, Angular,
												Symfony. Conception d'applis. </p>
											<div>
												<a href="#" class="btn btn-primary btn-sm disabled"> En cours</a>
											</div>
										</div>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- end card -->
				</div>
			</div>
	</section>
	<hr>
	<!-- ************************ Partie MES COMPETENCES ************************* -->
	<div class="container">
		<section id="competences">
			<h4 class="card-title mb-5 text-center mb-5">Programmation</h4>
			





			<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
				  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
				  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
				  <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
				  <div class="carousel-item active" data-bs-interval="10000">
					<img src="https://www.iim.fr/ecole-web/wp-content/uploads/2017/01/HTML5.jpg" class="d-block w-100" alt="HTML CSS" height="500px">
					<div class="carousel-caption d-none d-md-block">
					  <h5>Les basiques, HTML CSS</h5>
					  <p>Pas un langage de programmation mais on commence tous par là.</p>
					</div>
				  </div>
				  <div class="carousel-item" data-bs-interval="2000">
					<img src="https://www.apps4bcn.cat/wp-content/uploads/2022/09/javascript.jpg" class="d-block w-100" alt="Javascript" height="500px">
					<div class="carousel-caption d-none d-md-block">
					  <h5>Javascript</h5>
					  <p>L'incontournable pour une expérience utilisateur agréable</p>
					</div>
				  </div>
				  <div class="carousel-item">
					<img src="https://www.transycons.com/wp-content/uploads/2014/08/bootstrap-1.jpg" class="d-block w-100" alt="Bootstrap 5" height="500px">
					<div class="carousel-caption d-none d-md-block">
					  <h5>Bootstrap </h5>
					  <p>L'un des framework les plus connus pour obtenir des éléments pré-créés facilement.</p>
					</div>
				  </div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
				  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Précédent</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
				  <span class="carousel-control-next-icon" aria-hidden="true"></span>
				  <span class="visually-hidden">Suivant</span>
				</button>
			  </div>

		</section>
	</div>
	</div>
	<br>
	<hr>
	<!-- ************************ Partie CONTACT ************************* -->

	<div class="container" id="contact">
		<h2 class="text-center"> Contact </h2>
		<form>

			<div class="form-row">
				<div class="form-group mb-3">
					<label for="inputEmail1">Email</label>
					<input type="email" class="form-control" id="inputEmail1" placeholder="abc@mail.com">
					<div id="emailHelp" class="form-text">Votre adresse ne sera jamais divulguée.</div>
				</div>

				<div class="form-group mb-3">
					<label for="inputPassword4">Nom</label>
					<input type="text" class="form-control" id="inputPassword4">
				</div>
			</div>


			<div class="form-group mb-3">
				<label for="inputAddress">Motif du contact</label>
				<input type="text" class="form-control" id="inputAddress"
					placeholder="Renseignement, recrutement, devis ...">
			</div>
			<div class="form-group mb-3">
				<label for="inputAddress2">Infos complémentaires</label>
				<textarea class="form-control" aria-label="With textarea" placeholder="Mais encore ?.."></textarea>

			</div>
			<button type="submit" class="btn btn-primary">Envoyer</button>
		</form>
	</div>


	<!-- ************************ Partie FOOTER ************************* -->
	<footer class="bg-light text-center text-lg-start">
		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(193, 239, 247, 0.2);">
			© 2022 Copyright: Tout droits réservés à Yassir Karmati.
			<div class="justify-content-space-around">
				<a href="mailto:yassirkarmati@gmail.com"><i
						class="fa-solid fa-envelope-circle-check"></i>yassirkarmati@gmail.com</a>
				<a href="https://www.linkedin.com/in/yassirkarmati/"><i class="fa-brands fa-linkedin"></i>LinkedIn </a>
				<a href="tel:+33634490376"><i class="fa-regular fa-circle-phone"></i>Tel : 06.34.49.03.76</a>

			</div>
		</div>
		<!-- Copyright -->
	</footer>

	</section>




	<script src="assets/index.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
		crossorigin="anonymous"></script>
</body>

</html>