<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <link rel="stylesheet" href="./style/style.css">
    <link rel="stylesheet" href="./style/responsive.css">
    <title>Yassir Karmati</title>
</head>

<body>
<nav class="top_navbar">
<a href="#">Qui suis-je ?</a>
<a href="#">Skills</a>
<a href="#">Expériences</a>
<a href="#">Réalisations</a>
<a href="#">Contact</a>
<a href="#">Login</a>
</nav>
   

<p></p>



</body>
	<script src="./script/script.js"></script>
</html>


<!--

Un formulaire : add project
Un login
Formulaire de contact (Node mailer)


   -->