@font-face {
  font-family: "League Spartan";
  src: url(/assets/Fonts/LeagueSpartan-VariableFont_wght.ttf) format('truetype');
}

body {
  background: #1e1e1e;
  color: whitesmoke;
}

.top_navbar {
    font-family: 'League Spartan', serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    padding: 15px;
}

.top_navbar a {
  color: aliceblue;
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}
