@font-face {
  font-family: "League Spartan";
  src: url(/assets/Fonts/LeagueSpartan-VariableFont_wght.ttf) format("truetype");
}

body {
  background: #1e1e1e;
  color: whitesmoke;
}

/* .top_navbar {
  font-family: "League Spartan", serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: auto;
  padding: 40px 50px 40px 50px;
}

.top_navbar a {
  color: aliceblue;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
} */

.intro {
  width: 100%;
  background-image: url(/img/Gaming-rafiki.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.introTitle {
  position: relative;
  
  margin: auto;
  padding: 60px;
  display: flex;
  justify-content: space-between;
}

.introTitle img {
  height: 20%;
  width: 20%;
}

 .textPresentation {
/*  background: rgb(164, 189, 226); */
  /* background: linear-gradient(
    80deg,
    rgb(63, 132, 163) 0%,
    rgba(212, 192, 166, 0.700717787114846) 48%,
    rgba(48, 69, 201, 1) 95%,
    rgba(255, 255, 255, 0.4990371148459384) 100%
  ); */
  font-family: "League Spartan", sans-serif;
  color: #CFD8DC;
  font-weight: bold;
  font-size: larger;

  display: flex;
  text-align: left;
  flex-direction: column;
  padding: 60px;
}

.skills {
  background-color: #1e1e1e;
  text-align: center;
  padding: 40px;
}

.skills img {
  height: 100px;
  width: auto;
}

.skills h3 {
  padding-bottom: 20px;
}

.skillsFront {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 70px;

}


.skillsBack {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 70px;
}

.experience h3{
  text-align: center;
  padding-bottom: 20px;

}

.experience{
  margin: auto;
}

.projects h3{
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.linkContact{
  text-align: center;

}

.linkContact img{
  height: 200px;
  width: 200px;
  padding: 40px;
}
/* NAVBAR */

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #616161;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 300px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #023252;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
  transition-duration: .25s;
}
.menu__item {
  display: block;
  padding: 12px 24px;
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  transition-duration: .25s;
}
.menu__item:hover {
  background-color: #CFD8DC;
}